@import "tailwindcss";

@theme {
  --color-footer: #313131;
  --color-main: #3fb871;
  --color-hover: #36a66d;
  --font-beVietNamPro: "Be Vietnam Pro", "sans-serif";
  --font-pacifico: "Pacifico", "sans-serif";
}
